html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;

}

h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*The widths are in a percentage!*/

header {
	content: "";
	display: table;
	clear: both;
	width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #77a466;
}

header h1 {
	width: auto;
	margin: 0;
	padding: 1em 0;
	font-size: 1.875em;
	border-bottom: 3px solid #77a466;
	text-align: center;

}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 1.375em 0;	
	text-align: center;
}

header nav ul {
	margin: 0;
	padding: 0;	
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.5em 0.625em;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;	
}

/*The widths are in a percentage!*/

.top-section,
.bottom-section {
	margin: 0 auto;
	clear:both;
}

.main-image {
	height: auto;
	
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	padding: 0.275em 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 0.875em;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	height: auto;
	border-top: 1px solid #eee;
	font-size: 1em;
}

.section-one h3, .section-two h3,
.section-three h3 {
	padding: 0.5em 0.575em;
	font-size: 0.875em;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 0.5em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	padding: 0.5em 0;
	font-size: 0.875em;
	line-height: 1.5em;
}

.address {
	padding: 0.5em 0;
	font-size: 0.875em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/

footer {
	text-align: center;
	margin: 0 auto;
	border-top: 3px solid #eee;
	clear: both;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */
	.section-one, .section-two, .section-three {
		width: 33%;
		float: left;
	}
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.section-one h3, .section-two h3,
	.section-three h3 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.menu, .reviews, .address {
		display: flex;
  		justify-content: center;
  		align-items: center;
		font-size: 0.775em;
		padding: 0 1.5em;
	}
}
 
@media all and (min-width:1200px) {
    /* Desktop styles here */
	.container {
		width: 100%;
	}
	header h1 {
		border-bottom: none;
		text-align: left;
		float: left;
	}
	header nav {
		width: 50%;
		float: right;
		text-align: right;
		padding: 2.5em 0;
	}
	header nav ul li {
		display: inline;
	}
}